/* Universal Selector */
* {
    padding: 0;
    margin: 0; 
}

/* Element Selectors */

body {
    padding:1%;
    margin:1%;
    background-color: white;
}

header {
    width: 100%;
    margin: 20px;
    background-color: white;
    border: 5px;
    border-style: solid;
    border-color:lightgray;
    border-radius: 8px;
}

.container {
    position: relative;
    height: 515px;
    & h1 {
        top: 55%;
        right: 10%;
        font-family: fantasy, cursive;
        font-size: 60px;
        letter-spacing: 10px;
        color:darkblue;
        text-shadow: 2px 2px white;
        position:absolute;
    }
    & ul {
        Right: 5%;
        bottom: 5%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        word-spacing:50px;
        letter-spacing: 10px;
        font-size: 30px;
        list-style-type:none;
        position:absolute;
    }
    & li {
        display: inline-block;
        padding:5px;
        border-radius: 8px;
        &:hover {
            background-color: lightgoldenrodyellow;
        }
    }
    & a {
        color:lightpink;
        text-decoration:none;
    }

}

.image1 {
    height: 500px;
    width: 100%;
    border-radius: 8px;
    position: relative;
    display:inline-block;
}
.image2 {
    height: 275px;
    width: 225px;
    top: 25px;
    left: 10%;
    position:absolute;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

main {
    width: 100%;
    margin: 20px;
    background-color: white;
    border: 5px;
    border-style: solid;
    border-color:lightgray;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.container_2 {
    margin: 10px;
    display: flex;
}

aside {
    text-align: center;
    flex: 1;
    background-color: grey;
    padding: 20px;
    & h2 {
        padding-top: 10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style:italic;
        color:white;
        text-shadow: 2px 2px goldenrod;
        word-spacing: 50px;
        letter-spacing: 10px;
        bottom: 60%;
    }
  }

section {
    flex: 5;
    background-color: #fff;
    padding: 20px;
}
  
article {
    padding: 10px;
    border-left-style: solid;
    border-color:lightskyblue;
    & p {
        padding:15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
    }
}

.container_feature {
    padding: 20px;
    border-left-style: solid;
    border-color:lightskyblue;
    position: relative;
    & h3 {
        top:87%;
        left: 5%;
        padding:5px;
        position:absolute;
        font-family: fantasy, cursive;
        font-weight: bolder;
        letter-spacing: 10px;
        color:white;
        background-color: rgb(255, 255, 255, .2);
        text-shadow: 1px 1px palevioletred;
        border: 2px;
        border-style: dashed;
        border-color: goldenrod;
        &:hover {
            background-color: rgb(135, 206, 235, .5);
        }
    }
    .image3 {
        position:relative;
        height: 600px;
        width: 1000px;
        &:hover {
            border: 10px solid rgba(218, 165, 32, .5);
        }
    }
}




/* 
@media screen and (max-width: 768px) {
    Use flex-direction to stack the navbar, sidebar, and body 
    main,
    nav {
      flex-direction: column;
    }
    Make the sidebar stack below the body 
    aside {
      order: 2;
    }
    Change the header background 
    header {
      background: #772014;
    }
    Change the navbar and footer background 
    nav,
    footer {
      background-color: #bb8588;
    }
} */
