/* Universal Selector */
* {
    padding: 0;
    margin: 0; 
}

/* Element Selectors */

body {
    width:100vw;
    background-color: white;
}

header {
    width: 100vw;
    margin: 20px;
    border: 5px;
    border-style: solid;
    border-color:lightgray;
    border-radius: 8px;
}


.container {
    position: relative;
    height: 515px;
    & h1 {
        top: 55%;
        right: 10%;
        font-family: fantasy, cursive;
        font-size: 60px;
        letter-spacing: 10px;
        color:darkblue;
        text-shadow: 2px 2px white;
        position:absolute;
    }
    & ul {
        Right: 5%;
        bottom: 5%;
        position:absolute;
        font-size: 30px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        word-spacing:50px;
        letter-spacing: 10px;
    }
    & li {
        display: inline-block;
        &:hover {
            background-color: lightgoldenrodyellow;
            border-radius: 8px;
        }
    }
    & a {
        color:lightpink;
        text-decoration:none;
    }
    .border_right {
        margin-right: 50px;
        padding-right: 50px;
        border-right-style: solid;
        border-color:lightskyblue;
    }

}

.image1 {
    height: 500px;
    width: 100vw;
    border-radius: 8px;
    position: relative;
    display:inline-block;
}
.image2 {
    height: 275px;
    width: 225px;
    top: 25px;
    left: 10%;
    position:absolute;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

main {
    width: 100vw;
    margin: 20px;
    background-color: white;
    border: 5px;
    border-style: solid;
    border-color:lightgray;
    border-radius: 8px;
}


.container_2 {
    margin: 10px;
    display: flex;
}

aside {
   width: 20%;
    text-align: center;
    background-color: grey;
    padding: 20px;
    & h2 {
        padding-top: 10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style:italic;
        color:white;
        text-shadow: 2px 2px goldenrod;
        word-spacing: 50px;
        letter-spacing: 10px;
        bottom: 60%;
    }
  }

section {
    width:80%;
    margin:30px;
    background-color: #fff;
    border-left-style: solid;
    border-color:lightskyblue;

}
  
article {
    padding: 10px;
    & p {
        padding:15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
    }
}


.card_feature_project {
    padding: 5%;
    position: relative;
    display:flex;
    justify-content: center;
    & h3 {
        top:88%;
        left: 37%;
        padding:5px;
        position:absolute;
        font-family: fantasy, cursive;
        font-weight: bolder;
        letter-spacing: 10px;
        color:white;
        background-color: rgb(255, 255, 255, .2);
        text-shadow: 1px 1px palevioletred;
        border: 2px;
        border-style: dashed;
        border-color: goldenrod;
        &:hover {
            background-color: rgb(135, 206, 235, .5);
        }
    }
    .image3 {
        width: 100%;
        position:relative;
        &:hover {
            border: 5px solid rgba(218, 165, 32, .6);
        }
    }
}

.card_container {
    padding: 20px;
    position: relative;
    display:inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.card_projects {
    padding: 20px;
    position: relative;
    & h4 {
        top:80%;
        left: 7%;
        padding:5px;
        position:absolute;
        font-family: fantasy, cursive;
        font-weight: bolder;
        letter-spacing: 10px;
        color:white;
        background-color: rgb(255, 255, 255, .2);
        text-shadow: 1px 1px palevioletred;
        border: 2px;
        border-style: dashed;
        border-color: goldenrod;
        &:hover {
            background-color: rgb(135, 206, 235, .5);
        }
    }
    & img {
        position:relative;
        height: 300px;
        width: 500px;
        &:hover {
            border: 10px solid rgba(218, 165, 32, .5);
        }
    }
}



 
@media screen and (min-width: 320px) {
    & ul {
        display: flex;
        flex-wrap: wrap;
    }
    
}
